# Model Inference

## Milestone 2

```
Nama        : Reski Hidayat
Batch       : HCK-015

Objective   : 
This program is made to predict Credit Card Fraud using Model Classification by using Random Data.

# 1. Import Libraries

In [2]:
# # Library Dataframe
import pandas as pd

# Library Numerical Data
import numpy as np

# Library Model Saving
import pickle

# Library Random Data
from scipy.stats import randint

from datetime import datetime, timedelta
from sklearn.utils import shuffle

# 2. Import Model

In [4]:
with open("XGB_best_model.pkl", "rb") as file_1:
  model = pickle.load(file_1)

# 3. Generating The Random Dataset

In [32]:

# Define the data types for each feature
data_types = {
    'Trans_date_trans_time': 'datetime64[ns]',
    'Cc_num': 'int64',
    'Merchant': 'object',
    'Category': 'object',
    'Amt': 'float64',
    'First': 'object',
    'Last': 'object',
    'Gender': 'object',
    'Street': 'object',
    'City': 'object',
    'State': 'object',
    'Zip': 'object',
    'Lat': 'float64',
    'Long': 'float64',
    'City_pop': 'int64',
    'Job': 'object',
    'Dob': 'datetime64[ns]',
    'Trans_num': 'int64',
    'Unix_time': 'int64',
    'Merch_lat': 'float64',
    'Merch_long': 'float64',
    'Is_fraud': 'int64'
}

# Generate random data for each feature
np.random.seed(0)
data = {
    'Trans_date_trans_time': [datetime.now() - timedelta(days=np.random.randint(0, 365)) for _ in range(555719)],
    'Cc_num': np.random.randint(100000, 999999, 555719),
    'Merchant': np.random.choice(['Merchant1', 'Merchant2', 'Merchant3'], 555719),
    'Category': np.random.choice(['Personal', 'Childcare', 'Food', 'Transportation'], 555719),
    'Amt': np.random.uniform(0, 1000, 555719),
    'First': np.random.choice(['John', 'Jane', 'Bob', 'Alice'], 555719),
    'Last': np.random.choice(['Doe', 'Smith', 'Johnson', 'Williams'], 555719),
    'Gender': np.random.choice(['Male', 'Female'], 555719),
    'Street': np.random.choice(['123 Main St', '456 Elm St', '789 Oak St'], 555719),
    'City': np.random.choice(['New York', 'Los Angeles', 'Chicago', 'Houston'], 555719),
    'State': np.random.choice(['NY', 'CA', 'IL', 'TX'], 555719),
    'Zip': np.random.choice(['10001', '90001', '60601', '77001'], 555719),
    'Lat': np.random.uniform(-90, 90, 555719),
    'Long': np.random.uniform(-180, 180, 555719),
    'City_pop': np.random.randint(10000, 1000000, 555719),
    'Job': np.random.choice(['Software Engineer', 'Doctor', 'Lawyer', 'Teacher'], 555719),
    'Dob': [datetime.now() - timedelta(days=np.random.randint(0, 365*70)) for _ in range(555719)],
    'Trans_num': np.arange(1, 555720),
    'Unix_time': np.random.randint(0, int(datetime.now().timestamp()), 555719),
    'Merch_lat': np.random.uniform(-90, 90, 555719),
    'Merch_long': np.random.uniform(-180, 180, 555719),
    'age': np.random.randint(18, 80, 555719),
    'category': np.random.choice(['Personal', 'Childcare', 'Food', 'Transportation'], 555719),
    'amt': np.random.uniform(0, 1000, 555719),
    'state': np.random.choice(['NY', 'CA', 'IL', 'TX'], 555719),
    'job': np.random.choice(['Software Engineer', 'Doctor', 'Lawyer', 'Teacher'], 555719)
    # 'Is_fraud': np.random.binomial(1, 0.1, 555719)  # 10% of transactions are fraudulent
}

# Create a Pandas DataFrame
df = pd.DataFrame(data)

# Shuffle the data
df = shuffle(df)

In [33]:
df

,Trans_date_trans_time,Cc_num,Merchant,Category,Amt,First,Last,Gender,Street,City,...,Dob,Trans_num,Unix_time,Merch_lat,Merch_long,age,category,amt,state,job
88027,2023-07-18 16:59:11.603688,468646,Merchant2,Childcare,941.601342,Jane,Smith,Female,789 Oak St,Houston,...,1970-03-01 16:59:13.853499,88028,1118003742,62.501681,175.979990,75,Transportation,988.958722,CA,Teacher
43273,2024-01-16 16:59:11.419327,866195,Merchant2,Food,56.142121,Alice,Doe,Female,789 Oak St,New York,...,1969-03-13 16:59:13.676224,43274,1447788599,9.269797,125.985950,49,Childcare,695.569444,IL,Lawyer
145874,2024-02-09 16:59:11.826134,371191,Merchant1,Transportation,990.241860,Bob,Smith,Male,456 Elm St,Los Angeles,...,1989-10-07 16:59:14.061721,145875,1477149643,63.526788,-64.060616,27,Childcare,661.859329,CA,Doctor
446078,2023-08-26 16:59:12.956681,581763,Merchant1,Personal,910.330589,Alice,Doe,Female,456 Elm St,Chicago,...,1985-03-10 16:59:15.270126,446079,1323510966,-46.151154,-147.728196,22,Childcare,535.579504,TX,Doctor
535076,2024-01-25 16:59:13.297126,700191,Merchant1,Transportation,454.928206,Bob,Doe,Female,789 Oak St,Los Angeles,...,2007-07-17 16:59:15.615084,535077,910326427,17.948049,40.706763,67,Food,772.249693,NY,Lawyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75552,2023-09-01 16:59:11.551075,961519,Merchant2,Personal,658.067500,John,Williams,Male,789 Oak St,New York,...,1983-12-21 16:59:13.806698,75553,10208579,40.533537,101.857985,35,Personal,873.404194,IL,Doctor
425267,2023-12-13 16:59:12.879729,365480,Merchant1,Personal,549.691559,Bob,Johnson,Male,456 Elm St,Los Angeles,...,2013-02-19 16:59:15.191962,425268,1493252759,64.748648,-175.724596,39,Childcare,257.600939,CA,Lawyer
405921,2024-05-02 16:59:12.803397,949330,Merchant1,Food,618.907663,Alice,Doe,Male,123 Main St,Los Angeles,...,1974-11-22 16:59:15.113341,405922,1077202881,-80.044967,-111.325177,59,Transportation,26.138854,CA,Software Engineer
44693,2023-11-30 16:59:11.419327,881337,Merchant2,Food,703.071383,Bob,Smith,Male,789 Oak St,Houston,...,1978-06-12 16:59:13.692325,44694,1094282047,15.833325,-4.858753,24,Transportation,635.024665,TX,Lawyer
427416,2024-02-13 16:59:12.895355,992870,Merchant3,Personal,622.556072,John,Smith,Male,789 Oak St,New York,...,1970-04-18 16:59:15.191962,427417,1483610795,-24.576396,82.183772,40,Personal,17.402582,CA,Software Engineer

# 4. Predicting Using Model

In [34]:
# Model Prediction
prediction = model.predict(df)
prediction

array([0, 0, 0, ..., 0, 0, 1])